.edit-form__profile {
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  align-self: flex-start;
  margin-left: 20px;
  color: #000000;
}
.edit-form__profile:last-of-type {
  margin-bottom: 0;
}
.edit-form__profile:focus {
  outline: none;
  border: 1px solid lightblue;
}
.edit-form__profile::placeholder {
  color: black;
}
@media (min-width: 1280px) {
  .edit-form__profile {
    width: 358px;
    margin-left: 36px;
    line-height: 28px;
    margin-bottom: 25px;
  }
}
