.edit-form__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  margin-bottom: 75px;
  padding: 0;
}
@media (min-width: 1280px) {
  .edit-form__title {
    width: 358px;
    align-self: flex-start;
    margin-left: 36px;
    font-size: 24px;
    line-height: 29px;
    margin-top: 34px;
    margin-bottom: 44px;
  }
}
