.profile-info__edit-button {
  background-image: url(../../../images/Edit\ Button.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  width: 22px;
}
