.element__button-like {
  border: none;
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 24px;
}
.element__button-like:hover {
  opacity: 0.5;
}
.element__button-like:active {
  opacity: 1;
  background-image: url(../../../images/like-active.png);
}
